################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/venus-chargerybms/v16/.suo
/.vs/venus-chargerybms/v16
/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
